/* src/components/CryptoList.css */

.crypto-list {
    margin: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.crypto-name {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.crypto-name:hover {
    text-decoration: underline;
}

.green {
    color: green;
}

.red {
    color: red;
}