.footer {
    background: #333333;
    color: #fff;
    font-size: 0.9em;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #ccc;
}

.footer-motto {
    margin-top: 20px;
    font-weight: bold;
}